:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

/* mobile friendly alternative to using background-attachment: fixed*/
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  /*background-image: linear-gradient(115deg,
            rgba(47, 61, 48, 1.000),
            rgba(87, 96, 92, 1.000));*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.spacing {
  display: block;
  padding: 1rem 0;
}

header {
  padding-top: 3rem;
}

.center__text {
  text-align: center;
}

.ppadding {
  padding-left: 15%;
  padding-right: 15%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 12px;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  padding-left: 80px;
  font-size: 24px;
}

.footerright {
  font-size: 20px;
  text-align: center;
  background-color: teal;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* NAVBAR MENU */
.menu {
  padding-right: 60px;
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.frameborder_zero {
  border: 0;
}

.container1 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
}

.image1_container {
  max-width: 80%;
  margin: auto;
}

.image1 {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 12px;
}

.text1 {
  font-size: 20px;
  max-width: 80%;
  margin: auto;
}

.player {
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
  height: 400px;
  max-width: 800px;
  margin: auto;
}

/* (the vertical ruler) */
.timeline5 {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* (the vertical ruler) */
.timeline5::after {
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
}

/* Container around content */
.container5 {
  padding: 10px 40px;
  background-color: inherit;
  width: 50%;
  position: relative;
}

/* circles */
.container5::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 4px solid teal;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  right: -17px;
  background-color: white;
}

/* container to the left */
.left5 {
  left: 0;
}

/* container to the right */
.right5 {
  left: 50%;
}

/* arrows to the left container (pointing right) */
.left5::before {
  content: " ";
  height: 0;
  position: absolute;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
  top: 22px;
  width: 0;
  z-index: 1;
}

/* arrows to the right container (pointing left) */
.right5::before {
  content: " ";
  height: 0;
  position: absolute;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  top: 22px;
  width: 0;
  z-index: 1;
}

/* circle for containers on the right side */
.right5::after {
  left: -16px;
}

/* content */
.content5 {
  padding: 20px 30px;
  border-radius: 6px;
  color: black;
  background-color: white;
  position: relative;
}

.container10 {
  width: 60%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;


}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;


}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;


}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;


}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;


}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  
}

iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .container1 {
    display: block;
  }

  .text1 {
    margin-top: 3rem;
  }
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .player {
    width: 85%;
    height: 300px;
    margin: 0 auto;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

/* Media queries */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline5::after {
    left: 31px;
  }

  .right5::after {
    left: 16px;
  }

  /* containers */
  .container5 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* arrows are pointing leftwards */
  .container5::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    border: medium solid white;
  }

  /* circles are at the same spot */
  .left5::after,
  .right::after {
    left: 15px;
  }

  /* right containers behave like the left ones */
  .right5 {
    left: 0%;
  }

  .center__text {
    padding: 0 10px;
  }

  .container10 {
    width: 80%;
  }
}
